@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair-display);
}

body {
  background: #ffffff;
  color: #171717;
}
